body {font-family: arial, helvetica, sans-serif; margin: 15px;}
strong {font-weight: bold;}
h1 {font-size: 120%; font-weight: bold;}
h2 {font-size: 110%;}
.page {margin: 10px 0; font-weight: bold;}
#pagination #current, #pagination #total {font-weight: bold; color: #00f;}
#pagination #previous, #pagination #next {font-size: 80%; color: #999; cursor: pointer; padding: 0 10px; width: 50px;}