body {font-family: arial, helvetica, sans-serif; margin: 15px;}
body.js em {color: #00f; font-weight: bold;}
strong {font-weight: bold;}
h1 {font-size: 120%; font-weight: bold;}
h2 {font-size: 110%; fon-weight: normal;}
a {color: #000; text-decoration: none;}
a:hover {color: #666; text-decoration: underline;}
#box {border: 1px #ccc solid;}
body.ind {background: #fff;}
body.another {background: #eee;}